.create-postit-container {
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;
    font-size: 34px;
    padding: 20px;
    padding-top:50px;

    .form-group {
        border: 0px;
        text-align: left;
    }
    input {
        height: 60px;
        width: 90%;
        font-size: 30px;
    }
    textarea {
        min-height: 320px;
        width: 90%;
        font-size: 30px;
    }
}

.cancel-button {
    position: absolute;
    background-color: #F7D4B1;
    bottom: 20px;
    right: 10px;
    width:15%;
    text-align: center;
}

.validate-button {
    position: absolute;
    background-color: #E8F5B3;
    bottom: 20px;
    left: 10px;
    width:15%;
    text-align: center;
}