.rounded-zone {
  -webkit-border-radius: 28px;
  border-radius: 28px;
  height: 100px;
  cursor: pointer;
  vertical-align: center;
  padding-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  box-sizing: border-box;
}
.delete-postit-zone {
  position: absolute;
  bottom: 20px;
  background-color: #f0b2b2;
  width: 30%;
  right: 0;
  clear: both;
  display: block;
}
.edit-postit-zone {
  position: absolute;
  background-color: #f7d4b1;
  bottom: 20px;
  right: calc(30% + 10px);
  width: 30%;
}

.add-postit-zone {
  $add-postit-width: calc(40% - 70px);
  $box-shadow-offset: 6px;
  $box-shadow-blur: 12px;

  position: absolute;
  background-color: #e8fab5;
  bottom: 20px;
  left: 0;
  text-align: left;
  width: $add-postit-width;
  font-size: 32px;
  display: flex;
  align-items: center;

  background: linear-gradient(145deg, #f8ffc2, #d1e1a3);
  box-shadow: $box-shadow-offset $box-shadow-offset $box-shadow-blur #6d7655,
    (-$box-shadow-offset) (-$box-shadow-offset) $box-shadow-blur #ffffff;
}

.icon-zone {
  height: 80px;
}

.icon-add {
  height: 60px;
  margin-right: 20px;
  margin-left: 20px;
}

.rounded-zone-drag {
  border: 4px dashed black;
  z-index: 8;
  height: 200px;
  padding-top: 50px;
  .icon-add {
    visibility: hidden;
  }
}

.add-zone-drag {
  filter: grayscale(100%);
}

.element-drag-on-top {
  border: 4px dashed red;
}
