.postIt {
    cursor: move;
    font-size: 15px;
}
.checkbox-remainder {
    .custom-control-label::before {
        height: 50px;
        width: 50px;
    }
    .custom-control-label::after{
        height: 50px;
        width: 50px;
    }
    .custom-control-label {
        padding-left: 40px;
    }
}